<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>科研成果管理系统</title>
    <meta name="description" content="科研成果管理系统">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    
    <link rel="stylesheet" href="/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/select.min.css" />
    <link rel="stylesheet" href="/assets/css/ui-grid.min.css" />

    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/zTreeStyle.css" type="text/css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/angular.js"></script>
    <script src="/assets/js/angular-sanitize.js"></script>
    <script src="/angular/controller.js"></script>
</head>
<!-- ng-app="adminApp" -->
<body data-type="index" ng-app="adminApp" >
    <script src="/assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="/assets/img/sys_logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                    </span>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span><%=adminUserInfo.name%></span> </a>
                        </li>

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="/admin/logout">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">

            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-heading">系统管理 <span class="sidebar-nav-heading-info"></span></li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage" ng-class="{'active': '<%= currentLink%>' == '/admin/manage' }">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/userMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/userMge' }">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 用户管理
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/groupMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/groupMge' }">
                        <i class="am-icon-calendar sidebar-nav-link-logo"></i> 用户组管理
                    </a>
                </li>
              <!--   <li class="sidebar-nav-link">
                    <a href="/admin/manage/loging" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/loging' }">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 实时日志
                    </a>
                </li> -->
                <li class="sidebar-nav-heading">成果管理<span class="sidebar-nav-heading-info"> </span></li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/patentMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/patentMge' }">
                        <i class="am-icon-diamond sidebar-nav-link-logo"></i> 专利
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/softwareMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/softwareMge' }">
                        <i class="am-icon-diamond sidebar-nav-link-logo"></i> 软件著作权
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/paperMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/paperMge' }">
                        <i class="am-icon-diamond sidebar-nav-link-logo"></i> 学术论文
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/projectMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/projectMge' }">
                        <i class="am-icon-diamond sidebar-nav-link-logo"></i> 科研项目
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/awardMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/awardMge' }">
                        <i class="am-icon-diamond sidebar-nav-link-logo"></i> 科研获奖
                    </a>
                </li>
                <li class="sidebar-nav-heading">维度管理<span class="sidebar-nav-heading-info"> </span></li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/directionMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/directionMge' }">
                        <i class="am-icon-diamond sidebar-nav-link-logo"></i> 研究方向
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/personMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/personMge' }">
                        <i class="am-icon-diamond sidebar-nav-link-logo"></i> 研究人员
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/ccfMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/ccfMge' }">
                        <i class="am-icon-diamond sidebar-nav-link-logo"></i> 论文级别
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/awardLevelMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/awardLevelMge' }">
                        <i class="am-icon-diamond sidebar-nav-link-logo"></i> 奖项级别
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/manage/projectLevelMge" ng-class="{'active': '<%= currentLink%>' == '/admin/manage/projectLevelMge' }">
                        <i class="am-icon-diamond sidebar-nav-link-logo"></i> 项目级别
                    </a>
                </li>
            </ul>
        </div>


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <input type="hidden" id="currentCate" value="<%= bigCategory%>"/>
            <input type="hidden" id="siteInfo" value="<%= siteInfo%>"/>

            <div class="row-content am-cf">

                <%-body %><!-- Your Page Content Here -->

            </div>
        </div>
    </div>
    <!--通用模态框-->
    <% include public/model%>

    <script src="/assets/js/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="/assets/js/select.min.js"></script>
    <script src="/assets/js/ui-grid.min.js"></script>
    <script src="/assets/js/pdfmake.min.js"></script>

    <script src="/assets/js/vfs_fonts.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/amazeui.min.js"></script>
    <script src="/assets/js/amazeui.datatables.min.js"></script>
    <script src="/assets/js/dataTables.responsive.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/socket.io.js"></script>
    <script src="/angular/functions.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.ztree.excheck.js"></script>

</body>

</html>